* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    margin: 0;
    font-family: Thunder;
    background: white;
}

@font-face {
    font-family: 'Thunder';
    src: url('Assets/Fonts/Thunder-VF.ttf') format('truetype');
    font-weight: 1 1000;
    font-style: normal;
    font-display: swap;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
    background-color: #12568e;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
}

.logo {
    width: 22px;
    font-weight: bold;
    text-decoration: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    margin: 0 35px;
    font-size: 16px;
    font-weight: 500;
}

.container {
    display: flex;
    height: 100vh;
    padding-top: 80px;
    box-sizing: border-box;
}

.box {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.6s ease;
    padding: 20px;
    overflow: hidden;
}

.green .number {
    color: #12568e;
}

.green:hover {
    background-color: #1b81c0;
}

.red .number {
    color: #12568e;
}

.red:hover {
    background-color: #1b81c0;
}

.purple .number {
    color: #12568e;
}

.purple:hover {
    background-color: #1b81c0;
}

.orange .number {
    color: #12568e;
}

.orange:hover {
    background-color: #1b81c0;
}

.item-image {
    width: 0;
    height: auto;
    opacity: 0;
    transition: 0.5s ease;
}

.box:hover .item-image {
    width: 260px;
    opacity: 1;
    margin-bottom: 20px;
}

.box:hover {
    flex: 1.5;
    color: white;
}

.info {
    text-align: center;
}


.number {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 30px;
    border: 1px solid currentColor;
    border-radius: 30px;
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}

.info a{
    font-size: 22px;
}
.info p{
    font-size: 20px;
}